@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/swiper/swiper-bundle.min.css" rel="stylesheet" />

@* <div id="carouselExampleCaptions" class="carousel carousel-dark slide carousel-fade col-12 shadow" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active fades">
            <img src="~/images/card-img/006.jpg" class="d-block w-100" style="height:20rem" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/card-img/003.jpg" class="d-block w-100" style="height:20rem" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/card-img/005.jpg" class="d-block w-100" style="height:20rem" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> *@

<div class="swiper col-12 shadow w-100">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper ">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="~/images/card-img/006.jpg" class=" w-100 h-100" alt="...">
        </div>
        <div class="swiper-slide swiper-slide-shadow">
            <img src="~/images/card-img/003.jpg" class=" w-100 h-100" alt="...">
        </div>
        <div class="swiper-slide swiper-slide-shadow">
            <img src="~/images/card-img/005.jpg" class=" w-100 h-100" alt="...">
        </div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination me-1"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev mx-3 text-danger"></div>
    <div class="swiper-button-next mx-3 text-danger"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
<div class="row p-0 mx-1 mx-sm-3 my-3">
    <div class="col-12 col-sm-4 d-flex flex-column left">
        <svg class="mx-auto" width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0" />
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
            <g id="SVGRepo_iconCarrier"> <path d="M2 12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274C22 8.77128 22 9.91549 22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039Z" stroke="#F46363" stroke-width="1.5" /> <path d="M9 16C9.85038 16.6303 10.8846 17 12 17C13.1154 17 14.1496 16.6303 15 16" stroke="#F46363" stroke-width="1.5" stroke-linecap="round" /> </g>
        </svg>
        <p class="mx-auto text-danger my-2 text-center w-75  fw-bold">
            Inserting a variety of real estate in different categories
        </p>
    </div>
    <div class="col-12 col-sm-4  d-flex flex-column middle">
        <svg class="mx-auto" width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0" />
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
            <g id="SVGRepo_iconCarrier"> <path d="M18 8.5V8.35417C18 6.50171 16.4983 5 14.6458 5H9.5C7.567 5 6 6.567 6 8.5C6 10.433 7.567 12 9.5 12H14.5C16.433 12 18 13.567 18 15.5C18 17.433 16.433 19 14.5 19H9.42708C7.53436 19 6 17.4656 6 15.5729V15.5M12 3V21" stroke="#F46363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>
        </svg>
        <p class="mx-auto text-danger my-2 text-center w-75  fw-bold">
            Guarantee the best and most reasonable price
        </p>
    </div>
    <div class="col-12 col-sm-4 d-flex flex-column right">
        <svg class="mx-auto" width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0" />
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
            <g id="SVGRepo_iconCarrier"> <path opacity="0.1" d="M13.8179 4.54512L13.6275 4.27845C12.8298 3.16176 11.1702 3.16176 10.3725 4.27845L10.1821 4.54512C9.76092 5.13471 9.05384 5.45043 8.33373 5.37041L7.48471 5.27608C6.21088 5.13454 5.13454 6.21088 5.27608 7.48471L5.37041 8.33373C5.45043 9.05384 5.13471 9.76092 4.54512 10.1821L4.27845 10.3725C3.16176 11.1702 3.16176 12.8298 4.27845 13.6275L4.54512 13.8179C5.13471 14.2391 5.45043 14.9462 5.37041 15.6663L5.27608 16.5153C5.13454 17.7891 6.21088 18.8655 7.48471 18.7239L8.33373 18.6296C9.05384 18.5496 9.76092 18.8653 10.1821 19.4549L10.3725 19.7215C11.1702 20.8382 12.8298 20.8382 13.6275 19.7215L13.8179 19.4549C14.2391 18.8653 14.9462 18.5496 15.6663 18.6296L16.5153 18.7239C17.7891 18.8655 18.8655 17.7891 18.7239 16.5153L18.6296 15.6663C18.5496 14.9462 18.8653 14.2391 19.4549 13.8179L19.7215 13.6275C20.8382 12.8298 20.8382 11.1702 19.7215 10.3725L19.4549 10.1821C18.8653 9.76092 18.5496 9.05384 18.6296 8.33373L18.7239 7.48471C18.8655 6.21088 17.7891 5.13454 16.5153 5.27608L15.6663 5.37041C14.9462 5.45043 14.2391 5.13471 13.8179 4.54512Z" fill="#F46363" /> <path d="M13.8179 4.54512L13.6275 4.27845C12.8298 3.16176 11.1702 3.16176 10.3725 4.27845L10.1821 4.54512C9.76092 5.13471 9.05384 5.45043 8.33373 5.37041L7.48471 5.27608C6.21088 5.13454 5.13454 6.21088 5.27608 7.48471L5.37041 8.33373C5.45043 9.05384 5.13471 9.76092 4.54512 10.1821L4.27845 10.3725C3.16176 11.1702 3.16176 12.8298 4.27845 13.6275L4.54512 13.8179C5.13471 14.2391 5.45043 14.9462 5.37041 15.6663L5.27608 16.5153C5.13454 17.7891 6.21088 18.8655 7.48471 18.7239L8.33373 18.6296C9.05384 18.5496 9.76092 18.8653 10.1821 19.4549L10.3725 19.7215C11.1702 20.8382 12.8298 20.8382 13.6275 19.7215L13.8179 19.4549C14.2391 18.8653 14.9462 18.5496 15.6663 18.6296L16.5153 18.7239C17.7891 18.8655 18.8655 17.7891 18.7239 16.5153L18.6296 15.6663C18.5496 14.9462 18.8653 14.2391 19.4549 13.8179L19.7215 13.6275C20.8382 12.8298 20.8382 11.1702 19.7215 10.3725L19.4549 10.1821C18.8653 9.76092 18.5496 9.05384 18.6296 8.33373L18.7239 7.48471C18.8655 6.21088 17.7891 5.13454 16.5153 5.27608L15.6663 5.37041C14.9462 5.45043 14.2391 5.13471 13.8179 4.54512Z" stroke="#F46363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> <path d="M9 12L10.8189 13.8189V13.8189C10.9189 13.9189 11.0811 13.9189 11.1811 13.8189V13.8189L15 10" stroke="#F46363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>
        </svg>
        <p class="mx-auto text-danger my-2 text-center w-75  fw-bold">
            Guaranteed inserted housing specifications
        </p>
    </div>
</div>
<div class="row  p-3 border mx-2 mx-sm-3 my-3 shadow ">
    @if (Model.viewmodel.Any())
    {
        @foreach (var item in Model.viewmodel)
        {
            <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <a asp-page="EstateDetails" asp-route-Id="@item.Id" class="text-decoration-none text-dark m-0">
                    <div class="card p-0 shadow ">
                        <img src="~/images/Estates/@item.Image" class="card-img-top" />
                        <div class="card-body fs-7 fw-bold p-1 p-md-2 my-2">
                            <div class="d-flex flex-md-column justify-content-between">
                                <div class="col-6 col-lg-12">
                                    <p class="me-md-0 me-3 my-1">
                                        <i class="fa fa-home fa-lg text-danger mx-1"></i>
                                        <span class="ps-xl-2">@item.Title</span>
                                    </p>
                                    <p class="me-md-0 me-3 my-1 d-flex">
                                        <i class="fa fa-list fa-lg text-danger mx-1 mt-1"></i>
                                        <span class="ps-xl-2">@item.Category.Title</span>
                                    </p>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <p class="me-md-0 me-3 my-1">
                                        <i class="fa fa-map-marker fa-lg text-danger mx-2"></i>
                                        <span class="ps-xl-2">@item.Address</span>
                                    </p>
                                    <p class="me-md-0 me-3 my-1">
                                        <i class="fa fa-arrows fa-lg text-danger mx-1"></i>
                                        <span class="ps-xl-2">
                                            @item.Metrage
                                            m<sup>2</sup>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div>
                                <i class="fa fa-money fa-lg text-danger mx-1 mb-2"></i>
                                <span class="fw-bolder fs-6">
                                    <u>@item.Price</u>
                                    <span class="fw-bold">$</span>
                                </span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    }
</div>
<script src="~/js/swiper/swiper-bundle.min.js"></script>