@page
@model RealEstate.Pages.Admin.Estates.DetailsModel
@{
}
@{
    ViewData["Title"] = "Details";
}
<div class="row mt-5 mx-5 d-none d-sm-flex">
    <partial name="_PanelPartial" />
    <div class="col-xl-9 col-12 mb-5">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-center align-items-center">
                <i class="fa fa-list fa-lg mx-2 pt-1"></i>
                <h4 class="fw-bold mb-0">Details</h4>
            </div>
            <div class=" card-body">
                <div class="row my-3">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-6 col-sm-4 fs-7 ">
                                <i class="fa fa-check-circle-o "></i>
                                Id :
                            </div>
                            <div class="col-6 col-sm-8 fw-bold text-danger">
                                @Model.ViewModel.Id.ToString()
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Title :
                            </div>
                            <div class="col-6 col-sm-8">
                                @Model.ViewModel.Title.ToString()
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Type :
                            </div>
                            <div class="col-6 col-sm-8">
                                @Model.ViewModel.Category.Title.ToString()
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Price :
                            </div>
                            <div class="col-6 col-sm-8">
                                @Model.ViewModel.Price.ToString()
                                <span class="fw-bold">$</span>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Metrage :
                            </div>
                            <div class="col-6 col-sm-8">
                                @Model.ViewModel.Metrage.ToString()
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 ">
                        <div class="row">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o"></i>
                                Address :
                            </div>
                            <div class="col-6 col-sm-8">
                                @Model.ViewModel.Address.ToString()
                            </div>
                        </div>
                        <div class="row my-3 fs-7">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Description :
                            </div>
                            <div class="col-6 col-sm-8">
                                @{
                                    if (Model.ViewModel.Description != null)
                                    {
                                        @Model.ViewModel.Description.ToString()
                                        
                                    }
                                    else if (Model.ViewModel.Description == null)
                                    {
                                        <span>none</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 col-sm-4 fs-7">
                                <i class="fa fa-check-circle-o "></i>
                                Images :
                            </div>
                            <div class="col-6 col-sm-8">
                                <img src="/images/Thumb/@Model.ViewModel.Image" class="img-thumbnail my-1 zoom" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12 m-0">
                    <div class="col-6">
                        <a class="btn btn-outline-primary w-100 mt-3 fs-7" asp-page="Edit" asp-route-Id="@Model.ViewModel.Id">
                            <i class="fa fa-edit mx-2 d-block d-sm-inline"></i>
                            Edit
                        </a>
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-outline-secondary w-100 mt-3 fs-7">
                            <i class="fa fa-times mx-2 d-block d-sm-inline"></i>
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>