@page
@model RealEstate.Pages.Admin.Estates.IndexModel

@{
    ViewData["Title"] = "Admin";
}

<div class="d-sm-none d-flex flex-column">
    <div class="alert alert-warning  shadow d-flex">
        <i class="fa fa-warning mx-3 my-1 "></i>
        <p>
            The display dimensions are not suitable for your page, Please hold your device horizontally.
        </p>
    </div>
    <img src="/images/icon/rotating-warning.png" class="mx-auto my-4" />
</div>
<div class="row my-5 mx-1 mx-sm-5 d-none d-sm-flex">
    <partial name="_PanelPartial" />
    <div class="col-xl-9 col-12">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-center align-items-center">
                <a asp-page="Create" class="btn btn-outline-primary">
                    <i class="fa fa-plus"></i>
                    Add
                </a>

                <h4 class="mx-auto fw-bold mb-0">Estates Management</h4>
            </div>
            <div class="card-body">
                @if (Model.IndexDto.Any())
                {
                    <table class="table table-bordered table-striped table-hover mx-auto  text-center">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-image mx-2 d-sm-block d-lg-inline "></i>
                                    Image
                                </th>
                                <th>
                                    <i class="fa fa-list mx-2 d-sm-block d-lg-inline"></i>
                                    Type
                                </th>
                                <th>
                                    <i class="fa fa-map-marker mx-2 d-sm-block d-lg-inline"></i>
                                    Address
                                </th>
                                <th>
                                    <i class="fa fa-arrows mx-2 d-sm-block d-lg-inline"></i>
                                    Metrage
                                </th>
                                <th>
                                    <i class="fa fa-money mx-2 d-sm-block d-lg-inline"></i>
                                    Price
                                </th>
                                <th>
                                    <i class="fa fa-check-square-o mx-2 d-sm-block d-lg-inline"></i>
                                    Mangement
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.IndexDto)
                            {
                                <tr>
                                    <td>
                                        <img src="/images/Thumb/@item.Image" class="img-thumbnail my-1 zoom"/>
                                    </td>
                                    <td>
                                        @item.Category.Title
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.Metrage
                                    </td>

                                    <td>
                                        @item.Price
                                        <span class="fw-bold d-sm-block d-lg-inline">$</span>
                                    </td>
                                    <td>
                                        <div class="d-md-flex my-xl-4">
                                            <a asp-page="Details" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-list fa-lg"></i>
                                            </a>
                                            <a asp-page="Edit" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>
                                            <a asp-page="Delete" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
@*                 else
                {
                    <h5 class="text-center w-75 alert mx-auto alert-danger shadow">
                        <i class="fa fa-exclamation-triangle"></i>
                        There is no item available.
                    </h5>
                } *@
            </div>
        </div>
    </div>
</div>

