@page
@model RealEstate.Pages.Admin.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<div class="d-sm-none d-flex flex-column">
    <div class="alert alert-warning  shadow d-flex">
        <i class="fa fa-warning mx-3 my-1 "></i>
        <p>
            The display dimensions are not suitable for your page, Please hold your device horizontally.
        </p>
    </div>
    <img src="/images/icon/rotating-warning.png" class="mx-auto my-4" />
</div>
<div class="row my-5 mx-5 d-none d-sm-flex">
    <partial name="_PanelPartial" />
    <div class="col-xl-9 col-12">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-center align-items-center">
                <a asp-page="Create" class="btn btn-outline-primary">
                    <i class="fa fa-plus"></i>
                    Add
                </a>

                <h4 class="mx-auto fw-bold mb-0">Categories Management</h4>
            </div>
            <div class="card-body">
                @if (Model.CategoryModel.Any())
                {
                    <table class="table table-bordered table-striped table-hover mx-auto  text-center">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-list mx-2 d-sm-block d-lg-inline "></i>
                                    Title
                                </th>
                                <th>
                                    <i class="fa fa-reorder mx-2 d-sm-block d-lg-inline"></i>
                                    Description
                                </th>
                                <th class="w-25">
                                    <i class="fa fa-check-square-o mx-2 d-sm-block d-lg-inline"></i>
                                    Mangement
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CategoryModel)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>
                                        @if (item.Description != null)
                                        {
                                            @item.Description
                                        }
                                        else if (item.Description == null)
                                        {
                                            <span>none</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="d-md-flex mx-auto">
                                            <a asp-page="Details" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-list fa-lg"></i>
                                            </a>
                                            <a asp-page="Edit" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>
                                            <a asp-page="Delete" asp-route-Id="@item.Id" class="btn btn-outline-primary col-md-4 col-12 rounded-0">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>